body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

* {
  font-family: 'Inter', system-ui;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

header {
  padding: 40px;
  border-bottom: 1px solid #EAEAEA;

  img {
    margin-right: 15px;
  }

  p {
    font-size: 14px;
    opacity: 0.5;
  }
}

.card {
  width: 210px;
  padding: 20px;
  border-radius: 40px;
  border: 1px solid #F3F3F3;
  transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.065);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  h5 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }

  span {
    font-size: 12px;
    color: rgba(189, 189, 189, 0.5);
    text-transform: uppercase;
  }

  b {
    font-size: 14px;
  }

  .button {
    height: 32px;
    width: 32px;
    background: #FFFFFF;
    border: 0;
    // border: 1px solid #F2F2F2;
    border-radius: 8px;
    cursor: pointer;
  }
}

.search-block {
  padding: 0 15px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;

  input {
    width: 200px;
    font-size: 16px;
    border: 0;
    padding: 13px;
  }
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items {
    margin-bottom: 50px;
    overflow: auto;
  }
}

.items {
  flex: 1;
}

.cartItem {
  padding: 20px;
  border: 1px solid #F3F3F3;
  border-radius: 20px;

  p {
    font-size: 14px;
  }

  b {
    font-size: 13px;
  }
}

.removeBtn {
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.cartTotalBlock {
  ul {
    li {
      display: flex;
      align-items: baseline;
  
      div {
        flex: 1;
        border-bottom: 1px dashed #DFDFDF;
        margin: 0 7px;
      }
    }
  
    li + li {
      margin-top: 20px;
    }
  }

  .greenButton {
    div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 25px;
    }
  }
}

.greenButton {
  position: relative;
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  cursor: pointer;
  transition: background 0.15 ease-in-out;

  &:hover {
    background: lighten(#9DD558, 4%);
  }

  &:active {
    background: darken(#9DD558, 4%);
  }
}


